/* footer bar */
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  border-top: 1px solid #eaeaea;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: white;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.footer-icons {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 25px 0px 10px;
  cursor: pointer;
}

.footer-icons img {
  width: 35px;
}

.footer-icons span {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
}
